:root {
    --bulma-primary-h: 201deg;
    --bulma-primary-l: 82%;
    --bulma-link-h: 30deg;
    --bulma-link-l: 80%;
    --bulma-success-h: 125deg;
    --bulma-success-s: 83%;
    --bulma-success-l: 88%;
    --bulma-warning-h: 15deg;
    --bulma-warning-l: 90%;
    --bulma-body-background-color: #E0FFFF;
  }
  
  